<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management About Page</title>
</head>
<body>

  <main>
    <section class="about">
      <h2>About Library Management System </h2>
      <p>Welcome to Library Management System Maintaining the record of books in a library is a task that requires a lot of attention and carefulness. Librarians need to feed the names of the hundreds of books present in the library on a register. They also need to maintain the stock based on the books borrowed each day. This complex task has now been simplified with the library management system.</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Library Paradise. All rights reserved.</p>
  </footer>

</body>
</html>
